.d-flex {
    display: flex;
}
.centering {
    justify-content: center;
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.f-column {
    flex-direction: column;
}
.error {
    color: rgb(230, 26, 26);
    font-size: 14px;
}
.decoration {
    text-decoration: none;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.grow-1 {
    flex-grow: 1;
}

.conversation-item {
    padding: 10px 25px;
    cursor: pointer;
}

.conversation-item:hover {
    background-color: #f5f5f5;
}
.conversation-item > .name {
    font-size: 22px;
}
.conversation-item > .user-count {
    font-size: 16px;
    font-style: italic;
}
.active {
    background-color: #f5f5f5;
}
.space-between {
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}
.space-around {
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
}
.border-radius {
    border-radius: 5px;
}
.margin {
    margin: 5px;
}
.vh-100 {
    height: 100vh;
}
.vw-100 {
    width: 100vw;
}

.form-input {
    width: 286px;
    height: 42px;
    border: 1px solid rgb(100, 100, 241);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;

}
.m-b-lg {
    margin-bottom: 100px;
}
.m-b-md {
    margin-bottom: 50px;
}
.m-b-sm {
    margin-bottom: 12px;
}
.m-t-sm {
    margin-left: 56px;
}
.p-x-sm {
    padding: 0px 20px;
}

.btn{
    border-radius: 50px;
    font-size: 15px;
    padding: 9.5px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}
.btn-primary {
    background-color: #0e7bf8;
    color: white;
}
.btn-primary:hover {
    background-color: #0084ff;
}
.btn-secondary {
    color: #000;
    background-color: #f5f5f5;
}
.btn-secondary:hover {
    background-color: #fbfbfb;
}
.btn-third {
    background-color: rgb(240, 58, 58);
}
.btn-third:hover {
    background-color: rgb(238, 79, 79);
}
.overflow-y {
    overflow: auto;
}